<header>
	<input id="url" type="hidden" value="{{url}}"/>
	<span class="fiddleUrl pull-left label-info">http://jsonfiddle.net/{{url}}</span>
	<button class="btn pull-right saveBtn">Save</button>
	<span class="label pull-right saveMessage">Can't save and empty document.</span>
</header>
