<header>
	<span id="logo">{JSON: Fiddle.net}</span>
	<input id="url" type="hidden" value="{{url}}"/>
	<span class="label label-info">http://jsonfiddle.net/{{url}}</span>
	<!-- <button class="btn btn-info">Copy</button> -->

	<button class="btn right saveBtn">Save</button>
	<span class="label saveMessage">Can't save and empty document.</span>
</header>
