<nav class="box">
	<div class="alert alert-info">
		Welcome to JSON Fiddle
	</div>
	<ul>
		<li>Share the link to show anyone your JSON</li>
		<li>alt + click a parent to collapse all or expand all children</li>
		<li>Data types are colored. Boolean, Number and String</li>
		<li>Objects and Arrays are denoted, arrays have the number of elements</li>
		<li>Double click the source area to collapse it</li>
	</ul>
</nav>
