<nav class="box">
	<img id="logo" src="/images/logo.png"/>
	<ul>
		<li>Share the link with anyone</li>
		<li>alt + click to collapse all</li>
		<li>Data types are colored.</li>
		<li>Objects and Arrays are denoted.</li>
		<li>Double click the source area to collapse it</li>
		<li>POST to /fiddle to get a fiddle</li>
	</ul>
</nav>
